/*Design Notes:
1.  Need new font for header: Possibly Handwriting or Italic - WK
2.  Added Style to background to fit on page - WK
3.  Text in Jumbotron needs to be center adjusted - WK
4.  Background image saved is too large - Need to save smaller..maybe png instead of jpeg- WK
5.  Need Responsive media tags - WK
6. Color Ideas for Buttons and accents #ed4382,#eb6c62, #4db250
*/

body {
    background: url("images/background.jpeg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}

.jumbotron {
    background-color: #1D1941;
    color: #F8E3BC;
    text-align: center;
    padding: 25px;
}

#myDivPie {
    margin-left: auto;
    margin-right: auto;
    margin-left: 100px;
}

#calendar {
    text-align: center;
    padding: 1%;
    border: 2px solid #F8E3BC;
    background-color: #1D1941;
    color: #F8E3BC;
    margin-left: 5%;
    margin-right: 5%;
}

#modal1 {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F8E3BC;
    color: #1D1941;
}

#modalheader {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
}

#modalsubmit {
    background-color: #1D1941;
    color: #F8E3BC;
    padding: 2%;
}

.nav-link {
    color: #DE9B84;
}

form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

label {
    padding-bottom: 1%;
}

#calendar {}

#modal1 {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F8E3BC;
    color: #1D1941;
}

#modalheader {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
}

#modalsubmit {
    background-color: #1D1941;
    color: #F8E3BC;
    padding: 2%;
}

.nav-link {
    color: #DE9B84;
}

form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

label {
    padding-bottom: 1%;
}

a:hover {
    color: #F8E3BC;
}

.calendar {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    margin: auto;
}

#modal1 {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F8E3BC;
    color: #1D1941;
}

#modalheader {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
}

#modalsubmit {
    background-color: #1D1941;
    color: #F8E3BC;
    padding: 2%;
}

.nav-link {
    color: #DE9B84;
}

form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

label {
    padding-bottom: 1%;
}

#quote {
    background-color: #DE9B84;
    color: #1D1941;
    border: 2px, black;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.entries {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F8E3BC;
    color: #1D1941;
}

#myDivLine {
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-color: black;
    color: #1D1941;
    text-align: center;
}